<link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
{% block body %}
<body style="background:#e6ffe6">

	<div class="container" style='background:#d8eac8; height:100%'>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">SuperShop</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="{{ path('gender', {'var': variable, 'user_id': user_id}) }}"> Home page </a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="{{ path('register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
		      <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="row">

			<div class="col col-lg-6">

				<h3><b>Method of delivery:<b></h3>
					<br>
					1 - Courier: 12zł
					<br> 2- Post: 8zł<b r>
				<form  class="form-signin" method="POST" action="book">
					<br>
					<input  class="form-control"  type="number" min="1" max="2" value="1" name="delId" style="width:50px">
					<h3><b>Amount:<b></h3> <input  class="form-control"  type="number" min="1" value="1" name="amount" style="width:50px">
					<br>
					<input class="btn btn-primary" type="submit" value="Order">
				</form>

				{% if deliveryId != " " %}
				    <h2>{{ 'Order has been placed' }}</h2>
				{% endif %}

			</div>

		</div>

	</div>
</body>
{% endblock %}